*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* header style start here  */
.header-container{
    height: 92vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 180px;
}
.header-info{
    margin-left: 150px;
    width: 49%;
}

.header-img{
    width: 423px;
    margin-top: 50px;
}

.title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 32px;
}

.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.btn{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* hot deal section start here  */

.hot-deal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-bottom: 180px;
}
.hot-deal-info {
    text-align: center;
    width: 50%;
}
.hot-deal-img{
    width: 318px;
}
.hot-deal-title{
    font-size: 30px;
}
.deal-offer{
    color: #E55473;
}

/* Instagram section start here  */
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.insta-description{
    text-align: center;
    margin-bottom: 20px;
}
.insta-container{
    display: flex;
    gap: 25px;
    margin-left: 150px;
    margin-bottom: 180px;
}
.insta-img{
    width: 220px;
}
.latest-deal-container{
    text-align: center;
    background: url(./rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-right: 150px;
    padding-top:40px ;
    margin-bottom: 180px;
    height: 240px;
}
.latest-deal-container input{
    color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
padding: 12px 25px;
border: none;
width: 34%;
margin-right: 20px;
}

