*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* header style start here  */
.header-container{
    height: 92vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 180px;
    
}
.header-info{
    margin-left: 150px;
    width: 49%;
}

.header-img{
    width: 423px;
    margin-top: 50px;
    /* margin-left: 150px; */
    margin-right: 150px;
}

.title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 32px;
}

.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.btn{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* feature flowers section start here  */
.feature-flowers-container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    gap: 20px;
}
.feature-flower{
    width: 300px;
    height: 408px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.feature-img{
    width: 260px;
    margin-top: 49px;
    margin-left: 20px;
}
.feature-flower-2{
    background: rgba(5, 151, 160, 0.15);
}
.feature-img-2{
    margin-top: 100px;
    margin-left: 34px;
}
.feature-flower-3{
    background: rgba(71, 125, 17, 0.15);}
.feature-img-3{
    margin-top: 17px;
    margin-left: 23px;
}



.feature-flower-anchor{
    display: block;
    margin-top: 20px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.feature-anchor-container{
    display: flex;
    justify-content: center;
    gap: 155px;
    margin-bottom: 180px;
}

/* hot deal section start here  */

.hot-deal-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-bottom: 180px;
}
.hot-deal-info {
    text-align: center;
    width: 50%;
}
.hot-deal-img{
    width: 318px;
}
.hot-deal-title{
    font-size: 30px;
}
.deal-offer{
    color: #E55473;
}

/* Instagram section start here  */

.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.insta-description{
    text-align: center;
    margin-bottom: 20px;
}
.insta-container{
    display: flex;
    gap: 34px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 180px;
}
.insta-img{
    width: 220px;
}

/* latest deal section start here  */

.latest-deal-container{
    text-align: center;
    background: url(./rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-right: 150px;
    padding-top:40px ;
    margin-bottom: 180px;
    height: 240px;
}
.latest-deal-container input{
    color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
padding: 12px 25px;
border: none;
width: 34%;
margin-right: 20px;
}

/* footer section style here  */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111010;
    height: 300px;
    color: white;
}
.footer-title{
    color: white;
}
.footer-description{
    color: white;
    text-align: center;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
